* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Tahoma, sans-serif;
    background-color: #013220;
    color: #ffffff;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;

    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
}

.header {
    text-align: center;
}

.header h1 {
    font-size: 2.5rem;
}

.header p {
    color: #96c5a8;
}
